<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:if="${not#lists.isEmpty(people)}">
    <table>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>degree</th>
        </tr>
        <tr th:each="person : ${people}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.isHasDegree}"></td>
        </tr>
        <table>
</div>
</body>
</html>